/* background-image: url(../img/), url(../img/);
min-height: 100vh;
background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}




header {
    margin-bottom: 13vh;
}

.h2_header {
    font-size: 1.9rem;
}

.logo_h2 {
    display: flex;
    justify-content: space-between;
}

.header_flex {
    display: flex;
    padding: 1% 3% 0 2%;
    justify-content: baseline;
}

.header_h2 {
    margin-top: 1.5vh;
    font-weight: 300;
}

.img_logo {
    width: 50px;
    height: 8vh;
    padding-right: 5%;
}






floating {
    width: 58%;
    height: 69vh;
    background-image: url(../img/ilustracion_people.png), url(../img/ilustracion1.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h2_p_how {
    width: 35%;
    margin-left: 10%;
    margin-top: -20vh;

}

.h2_how {
    font-size: 4rem;
    margin-bottom: 3vh;
}

.p_how {
    width: 70%;
    font-size: 1.4rem;
    margin-bottom: 10vh;
    font-weight: 100;
}

#scrollMe {
    color: red;
    font-size: 1.2rem;
}

.art1 {
    margin-bottom: 25vh;
}

.imagesArt1 {
    width: 100%
}

.art2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
    gap: 300px;

}

.divLeftArt2 {
    width: 25%;
}

.divLeftArt2>p {
    font-size: 5rem;
    font-weight: 900;
    width: 100%;

}

.divRightArt2 {
    width: 40%;
}

.idea {
    height: 50px;
}

.divRightArt2>p {
    line-height: 2.2;
    width: 75%;
}

.after {
    margin-left: 10%;
    font-weight: 800s;
    margin-bottom: 20vh;
}

.p_after {
    font-size: 4rem;
    width: 60%;
}

.p_sticking {
    font-size: 4rem;
    width: 50%;
}

.elements_4 {
    display: flex;
    justify-content: space-between;
}

.s_elements_4 {
    display: flex;
    width: 35%;
    margin-right: 10%;
}

.elements_8 {
    display: flex;
    margin-top: 5%;
    justify-content: space-between;
}

.p_element {
    width: 65%;
}

.elemts {
    margin-left: 10%;

}

.s_elements_4 img {
    height: 23px;
    margin: 10px;
    padding-right: 10px;
}

.s_elements_4 div h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 2vh;
}

.s_elements_4 div p {
    font-size: 1.2rem;
    font-weight: 200;
}

.extrawrap {
    margin-bottom: 3vh;
    margin-right: 15vh;
}

.extrawrap_left {
    margin-right: 20%;
}

.element5 {
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.element5>p:nth-child(2) {
    margin-top: 5vh;
}

.element5 p {
    margin-top: 5px;
}

/* STYLES FÜR COPY UND PASTE */
.a_universe {
    display: flex;
    margin-left: 10%;
    margin-bottom: 20vh;
}

.p_01 {
    color: #dddddd;
    font-size: 7rem;
    font-weight: 500;
    margin-bottom: 6vh;
}

.img_man {
    width: 60%;
    height: 60vh;
    margin-right: 20%;
}

.img_auge {
    margin-bottom: 2vh;

}

.p_find {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 10vh;
}

.p_hasbeen {
    width: 40%;
    font-weight: 200;
    line-height: 3;
}

/* STYLES FÜR COPY UND PASTE   ENDE */


#artChallenge {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;

}

#artChallenge>h2 {
    font-size: 2.5rem;
}

#artChallenge>p {
    font-weight: 200;
}

#btnRegistration {
    background-color: #ff3571;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid white;
    padding: 8px 47px;
}

#inputEmail {
    height: 5vh;
    width: 22%;
    text-align: center;
    border: 0.1px solid white;
    border-radius: 3px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer {
    margin-top: 10vh;
    margin-left: 3vw;
    font-weight: 200;
    font-size: 14px;
    margin-bottom: 2vh;
}

footer>img {
    height: 20px;
    padding-left: 5px;
}


.clsBonusExercice1 {
    border-radius: 2px;
    height: 55vh;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border: 1px solid lightgrey;
    width: 56vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 11vh;
    text-align: center;

}

.clsBonusExercice2 {
    display: hidden;
    visibility: hidden;
}

#btnBack {
    visibility: hidden;
    margin-top: -13vh;
    background-color: #820fb3;
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid white;
    padding: 8px 47px;
}